// default body size
html{
    font-size: 62.5%;
}

// default body styles
body{
    font-family: $bodyFont;
    color: $fontColour;
    font-size: 2rem;
    position: relative;
    line-height: 1.5;
}
// remove default padding and margin
*,
h1{
    padding: 0;
    margin: 0;
}

// image styles
img{
    display: block;
    width: 100%;
    height: auto;
}

// removes the bullets
ul{
    list-style-type: none;
}

// remove the default styling of links
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

// button styles
button{
    border: none;
    cursor: pointer;
}

// heading styles
h1,
h2,
legend,
label.imageNumber,
h3 {
    font-family: $headingFont;
    text-transform: uppercase;
    font-weight: 400;
}

// wrapper styles
.wrapper{
    max-width: 2000px;
    width: 90%;
    margin: 0 auto;
}

.openOnHover {
    left: 0;
}