// VARIABLES

// COLOURS
$primaryColour: #EEF3F6;
$secondaryColour: #D2DBE0;
$fontColour: #434960;

// FONTS
$headingFont: 'Oswald', sans-serif;
$bodyFont: 'Lato', sans-serif;

// OTHER
$transition: all 0.5s ease;

// MIXINS

// for flexbox
@mixin flex($flexDirection: initial, $justifyContent: initial, $alignItems: initial){
    display: flex;
    flex-wrap: wrap;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// add hover and focus states
@mixin hover(){
    &:hover,
    &:focus{
        @content;
    }
}

// add hover and focus and checked to labels beside inputs
@mixin hoverLabel() {
    input[type="radio"]:checked + label,
    input[type="radio"]:hover + label,
    input[type="radio"]:focus + label{
        @content;
    }
}


