// styles for the sections
section{
    background-color: $primaryColour;
    padding: 20px;

    h2{
        font-size: 2.5rem;
    }
}

// add grid layout
main .wrapper{
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: 20% repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-areas: 
        ". picker picker ."
        "gallery gallery gallery sliders"
        "gallery gallery gallery code";
        // "gallery gallery sliders sliders"
        // "gallery gallery code code";
        
}

.colorPicker{
    grid-area: picker;
    @include flex(row, space-between, center);
    
    form{
        @include flex(row, space-between, center);
        width: 60%;
    }

    label{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid $fontColour;
        transition: $transition;

        &.white{
            background-color: #fff;
        }

        &.black{
            background-color: #000;
        }

        &.red{
            background-color: rgb(241, 141, 141);
        }

        &.orange{
            background-color: rgb(245, 198, 111);
        }

        &.yellow{
            background-color: rgb(245, 245, 128);
        }

        &.green{
            background-color: rgb(135, 214, 135);
        }

        &.blue{
            background-color: rgb(164, 212, 235);
        }

        &.purple{
            background-color: rgb(217, 192, 241);
        }

        &.pink{
            background-color: rgb(253, 221, 226);
        }

        &.cheese{
            background-color: orange;
        }
    }
    
    // accesible hiding of radio button
    input[type='radio']{
        opacity: 0;
        position: fixed;
        width: 0;
    }
    
    // add focus and hover events on the label
    input[type='radio']:hover + label,
    input[type='radio']:focus + label{
        cursor: pointer;
        // found on: https://www.creativejuiz.fr/blog/en/tutorials/customize-checkbox-and-radio-button-with-css
        box-shadow: inset 0 1px 5px rgba(0,0,0, .1), 0 0 0 5px rgb(210, 219, 224);
    }
}


// gallery section styles
.gallery{
    grid-area: gallery;
}

.galleryGrid{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.galleryImg {
    // makes the images take up the whole cell of the grid
    object-fit: cover;
    width: 100%;
    height: 100%;
}


// overall sliders styles
.sliders{
    grid-area: sliders;

    // flex the items into column
    form{
        padding-top: 20px;
        @include flex(column, center, center);
    }

    // remove the fieldset border
    fieldset{
        border: none;
    }

    // change size of the labels
    label{
        font-size: 1.8rem;
        text-transform: lowercase;
        margin-bottom: 10px;
    }

}

// flex the items in the containers
.columnSlideContainer,
.gapSlideContainer{
    @include flex(row, space-between, center);
    margin-bottom: 10px;
}


// style the ps with the number
.columnSlideContainer p,
.gapSlideContainer p{
    background-color: white;
    display: inline-block;
    padding: 3px 15px;
    border-radius: 20px;
    font-size: 1.2rem;
}

// change the width of the input range
// styles and removing default followed guide from: https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
.columnSlideContainer input,
.gapSlideContainer input{
    // removes styling so can make custom
    -webkit-appearance: none;
    // specific width needed for FF
    width: 75%;
    // would be white in chrome
    background-color: transparent;

    // styles for the track
    &::-moz-range-track,
    &::-webkit-slider-runnable-track{
        height: 2px;
        border-radius: 1.5px;
        background-color: $fontColour;
    }

    // styles for the thumb
    &::-moz-range-thumb,
    &::-webkit-slider-thumb{
        cursor: pointer;
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        background-color: $primaryColour;
        border: 2px solid $fontColour;
    }

}

// add focus states to the thumb
.columnSlideContainer input:hover::-moz-range-thumb,
.columnSlideContainer input:focus::-moz-range-thumb,
.columnSlideContainer input:hover::-webkit-slider-thumb,
.columnSlideContainer input:focus::-webkit-slider-thumb{
    box-shadow: inset 0 1px 5px rgba(0,0,0, .1), 0 0 0 5px rgba(210, 219, 224, 0.589);
}



// code section styles
.code{
    grid-area: code;
}

